html {
    scroll-behavior: smooth;
}

body {
    color: rgb(5%, 13%, 23%);
    background-color: rgb(100%, 81%, 40%);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}
.navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 1.5px;
    z-index: 100;
    background-color: rgb(100%, 81%, 40%);
}

.navigation a {
    text-decoration: none;
    color: rgb(5%, 13%, 23%);
}

.navigation a:hover {
    color: rgb(5%, 13%, 34%);
}

.navigation:hover {
    cursor: pointer;
}

.subtitle {
    font-weight: normal;
    font-family: sans-serif;
}

h1 {
    font-size: 750%;
}

.mirrorY {
    transform: scale(-1, 1);
}
.oneln {
    display: flex;
    width: 75%;
    margin-top: 2%;
}
.tyn-proj {
    display: block;
    text-align: left;
    letter-spacing: 7px;
    border-radius: 8px;
    position: absolute;
    left: 20px;
    top: 80px;
    width: 450px;
}
.project {
    text-align: right;
}

.we_train {
    display: block;
    text-align: right;
    font-size: 50%;
    position: absolute;
    right: 80px;
    top: 150px;
    letter-spacing: 7px;
    border-radius: 8px;
    width: 200px;
}

.neckdiv {
    position: absolute;
    top: 550px;
    left: 20px;
    font-size: 50%;
    text-align: left;
    letter-spacing: 7px;
    border-radius: 8px;
}

.first {
    height: 100vh;
    background: url(images/QFiaBBaTZPQ-removebg-preview.png) no-repeat 0;
    background-size: 35%;
    background-position: center;
}

.second {
    height: 100vh;
    padding-top: 100px;
}

.thrird {
    height: 100vh;
    padding-top: 100px;
}

.app {
    height: 110vh;
    padding-top: 100px;
}

.contacts {
    height: 30vh;
    border-radius: 10px 10px 0 0;
    background-color: rgb(5%, 13%, 23%);
    color: rgb(100%, 81%, 40%);
}

.game__wrapper {
    padding-top: 20px;
    display: flex;
    width: 100%;
}

.video {
    width: 50%;
}

.answers__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 25px;
    padding-bottom: 20px;
}

.sidebar__wrapper {
    margin-left: 10%;
    padding-top: 50px;
    font-size: x-large;
}

.footer {
    margin-top: 60px;
}

.call {
    text-align: left;
    margin-left: 8%;
}
